mlflow==2.22.0
accelerate==1.7.0
boto3==1.26.160
colorama==0.4.4
dill==0.3.8
gmpy2==2.2.1
google-api-core==2.24.2
jaraco-collections==5.1.0
jinja2==3.1.4
numpy==1.26.4
nvidia-ml-py==12.575.51
pandas==2.2.3
scikit-learn==1.6.1
scipy==1.15.3
torch==2.5.1
torchvision==0.20.1
transformers==4.52.3
optimum==1.26.1